table {
  border-collapse: collapse;
  border-spacing: 0; 
  empty-cells: hide;

}

body{
	font-family: "Arial",fantasy;
	margin-top:24px;
	margin-left:0;
}
.checkboxclass{
	clear:left;
	align:right;
	float:right;
	width:200px;
	top: 25px;
	right: 0px;
	position:fixed;
	background-color:#D0D0D0;
	border-size:solid-black;
	border-style:inset;
	
}

.photologo{
	height:27;
	width:32;
	clear:right;
	float:left;
}
.searchDiv{
	clear:left;
	align:right;
	float:right;
	top: 0px;
	right: 0;
	position:fixed;

	
}
.searchBar{
	align:left;
	float:left;
	width:183px;
	
	
}
.button{
	
	width:21px;
	border-radius: 50%;	
	border: 1px solid black;
	
}

table td, th {
    border: 2px solid black;
    text-align: top;
    
}

table.left { 
	clear:left;
    height:50%;
	width:60%;
	float:left;	
}

.mikro{
	width:100%;
	height:100%;
	align:center;
}
.navbar {
    background-color: #333;
	top: 0; /* Position the navbar at the top of the page */
    width: 100%; 
	position:fixed;
    overflow: hidden;
	
}

.navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 2px 16px;
    text-decoration: none;
}

.navbar a:hover {
    background: #ddd;
    color: black;
}

